# Environment config
.env

# Model caches
models_cache/
__pycache__/

# Notebook execution outputs
executed_*.ipynb

# OS files
Thumbs.db
.DS_Store
.tex
*.tex
analysis/agreement.py
analysis/agreement_results.json
analysis/agreement_safebench.json
analysis/agreement_jackhhao.json
attack_success_rate2.png
objectives2.png
objectives2.py
/Guardrail_Proposal_Slides
*.pkl
